<ion-content>

  <div padding class="photo-button-group">
    <button ion-button (click)="fromCamera()">
        Nuova
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon name="add"></ion-icon>
    </button>

    <button ion-button (click)="fromGallery()">
        Rullino 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon name="attach"></ion-icon>
    </button>
  </div>

  <button ion-button (click)="refresh()" id="refresh_photolist" style="display:none">
    </button>
  <input type="file" id="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)"
  />
  <div class="masonry" *ngIf="photoes">
    <div class="masonry-item" *ngFor="let photo of photoes; let i = index;" (click)="selectPhoto(photo, i)">
      <ion-checkbox [(ngModel)]="check[i]" *ngIf="action"></ion-checkbox>
      <lazy-img [inputSrc]="photo" [action]="action" *ngIf="!photo.local"></lazy-img>
      <img imageViewer [src]="photo.Url" style="display:block" *ngIf="photo.local" style="
        height: calc(50vw - 2px);
        width: 50vw;
        object-fit: cover;
        position: absolute;
        padding-right: 2px;">
    </div>
  </div>

</ion-content>
