<ion-content>

  <div padding class="photo-button-group">
    <button ion-button (click)="fromCamera()">
        Nuova
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon name="add"></ion-icon>
    </button>
    
    <button ion-button (click)="fromGallery()">
        Rullino 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon name="attach"></ion-icon>
    </button>
  </div>
  <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
  <div class="photo-list" *ngIf="item.photo">
    <div class="photo-item" *ngFor="let photo of item.photo; let i = index;">
      <ion-checkbox [(ngModel)]="check"></ion-checkbox>
      <img [src]="photo" alt="" (click)="selectPhoto(i)">
    </div>
  </div>

</ion-content>
