<ion-content>

  <div class="tempo">
    <div class="profile">
      <ion-avatar item-start class="item-avatar android">
        01
      </ion-avatar>
      <h1>{{item.Targa}}</h1>
      <h3>{{item.Marca}}</h3>
      <h3 style="color: #383a39; margin-top: 1.1rem;">{{item.Modello}}</h3>
    </div>
    <div class="timer-control">
      <ion-grid>
        <ion-row class="play" *ngIf="mode=='notStarted' || mode=='paused'">
          <ion-col col-12 (click)="play()">
            <img src="assets/img/play_btn.png" alt="" *ngIf="mode=='notStarted'">
            <img src="assets/img/resume_btn.png" alt="" *ngIf="mode=='paused'">
            <h3>{{mode=='notStarted'?'INIZIA LAVORO':'Riprendi Lavoro'}}</h3>
          </ion-col>
        </ion-row>
        <ion-row class="pause-stop" *ngIf="mode=='started'">
          <ion-col col-6 (click)="pause()">
            <img src="assets/img/pause_btn.png" alt="">
            <h3>PAUSA</h3>
          </ion-col>
          <ion-col col-6 (click)="stop()">
            <img src="assets/img/stop_btn.png" alt="">
            <h3>FINE</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="timer">
      Tempo <span class="counter">{{counterText}}</span>
    </div>
  </div>

</ion-content>
