<ion-header>
  <ion-navbar #Navbar>
    <ion-title>{{tabTitle}}</ion-title>

    <ion-buttons end style="margin-top: 3px" *ngIf="tabTitle!='Foto'">
      <button ion-button (click)="editItem()" strong>
        <span color="primary">
          Edit
        </span>
      </button>
    </ion-buttons>
    <ion-buttons end style="margin-top: 3px" *ngIf="tabTitle=='Foto'">
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Wrap an instance of the tabs page. Navigation will operate on the wrapper
       and the back button will be provided. To eliminate the nested header in each
       specific tab page, delete the ion-header in each tab's html file.
       Hook a Component @Output event to dynamically update the ion-title in
       the ion-navbar above when tabs are selected.
  -->
  <page-tabs (notify)='onTabChange($event)'></page-tabs>

</ion-content>
